body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  display: inline-block;
  margin: 0 auto 0 auto;
  font-family: 'Great Vibes', cursive;
  font-size: 6rem;
  color: #45b29a;
}
h2{
  color: #1e836c;
    font-size: 2.8rem;
    font-weight: normal;
}
h3{
  font-size: 2rem;
color: #45b29a;
font-weight: normal;
}

h4{
  font-size: 2rem;
  color: #45b29a;
  font-weight: normal;
}
p{
  font-size: 1.5rem;
color: #545454;
}

img {
  margin-top: 10px;
}

.profile-img {
  border-radius: 50%;
}

.skill-img {
  height: 200px;
  width: 200px;
}

div {}

hr {
  border-color: lightgrey;
  border-style: dotted none none;
  border-width: 10px;
  height: 0;
  width: 5%;
  margin-bottom: 0;
  margin-top: 0;
}

.top {
  background-color: #c6e377;
  padding-top: 200px;
  display: block;
  height: 590px;
}

.middle {
  background-color: #fbfad3;
}

.bottom {
  background-color: #fbfad3;
}

.cloud1 {
  position: absolute;
  left: 10%;
  top: 30%;
}

.cloud2 {
  position: absolute;
  right: 10%;
  top: 10%;
}

.land{
position: absolute;
bottom: 0;
left: 25%;
}

.skill-row{
  width: 50%;
  margin: auto;
}
